@import "tailwindcss";

@theme {
  /* Your ACS Colors */
  --color-brand-orange: #FF5A00; 
  --color-brand-dark: #111111;   
  --color-brand-gray: #2D2D2D;   
  --color-brand-light: #F4F4F5;  
  
  /* Link Next.js font variables to Tailwind */
  --font-sans: var(--font-inter);
  --font-script: var(--font-script);
}

@layer base {
  body {
    background-color: var(--color-brand-light);
    color: var(--color-brand-dark);
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
html, 
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; 
}